body {
    background-color: rgb(218,218,218);
    back
}

h1 {
    color: rgb(100,241,92);
    text-align: center;
    font-size: 72pt;
    font-stretch: extended;
    font-weight: bold;
    background-color: rgb(167,180,239) ;
    margin: 0px;
}

nav {
    font-size: 20pt;
    font-stretch: extended;
    font-weight: bold;
}

#stadium {
    padding-left: 319px; 
}

footer {
    font-stretch: condensed;
    background-color: rgba(184, 13, 13, 0.842);
    margin: 0px;
    border: 4px solid;
}

#pgraph1 {
    font-stretch: condensed;
    font-size: 15pt;
}

#pgraph2 {
    font-stretch: condensed;
    font-size: 15pt; 
}

#Preseason {
    align: center;
    border: 4px solid;
    font-size: 15pt;
}

#trophy {
    width: 100pt;
    height: 100pt;
}